div#screen_message {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Consolas", "Roboto", sans-serif;
}

div#message_text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 4vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #313131c7;
	border-radius: 15px;
	align-items: center;
}

div#message_text pre {
	white-space: pre-line;
}

div.message_button {
	font-size: 4vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background: #000;
	border: 2px solid #fff;
	border-radius: 15px 15px 15px 15px;
	padding: 2vmin;
}